@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
.enter {
  background: linear-gradient(104.42deg, #4745D0 0%, #2A27C9 60.23%);
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  color: white;
}

.contact {
  box-shadow: outset -4px -4px 4px rgba(0, 0, 0, 0.1), outset 4px 4px 4px rgba(255, 255, 255, 0.1);
}

.my-account {
  background: linear-gradient(104.42deg, #4745D0 0%, #2A27C9 60.23%);
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.1);
  color: white;
}

/* Infinity Scroll */
.marquee {
  height: 127px;
  width: 100%;
  overflow-x: hidden;
}

.hoverContainer:hover .hello {
  display: block !important;
  width: 80px !important;
}

.track {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.price-bg {
  background-color: rgba(42, 39, 201, 0.1);
}
.price-grid {
  display: grid;
  grid-template-columns: 60% 30%;
  justify-content: space-between;
}
.self {
  justify-self: flex-end;
}

.shadow {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.no-scroll {
  overflow-y: scroll;
  
}

::-webkit-scrollbar {
  display: none;
}

.give-transform {
  /* transform: translateX(-224px); */
  transition: transform 0.5 ease-in-out;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50000;
  background-color: rgba(0, 0, 0, 0.4);
}

.cancel {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 50px;
    cursor: pointer;
    color: #fff;
}


/* PRACTISE */
.m-container {
  overflow-y: hidden;
 }
/* .m-container:hover {
  width: fit-content;
} */
.m-container:hover .to-trans {
  transform: translateX(0);
}
.letter:hover .to-trans {
  transform: translateX(0);
}

.to-trans {
  transition: all 1s ease-out;
}
